*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-family: 'open sans',sans-serif;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 1210px) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 1130px) {
  html {
    font-size: 55%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'poppins', sans-serif;
}

.register {
  background: url("images/bg-desktop.svg") no-repeat;
  background-size: cover;
  background-color: #6749AC;
  min-height: 100vh;
  padding: 4% 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% minmax(max-content, 1fr) 10%;
      grid-template-rows: 10% minmax(-webkit-max-content, 1fr) 10%;
      grid-template-rows: 10% minmax(max-content, 1fr) 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 970px) {
  .register {
    background: url("images/bg-mobile.svg") no-repeat;
    background-size: cover;
    background-color: #6749AC;
  }
}

.register__logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-align: start;
      justify-self: start;
}

@media only screen and (max-width: 1130px) {
  .register__logo {
    width: 50%;
  }
}

.register__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 970px) {
  .register__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.register__content__img {
  width: 50%;
  margin-right: 5rem;
}

@media only screen and (max-width: 970px) {
  .register__content__img {
    width: 100%;
    margin-right: 0;
  }
}

.register__content__text {
  width: 40%;
  color: #fff;
}

@media only screen and (max-width: 970px) {
  .register__content__text {
    width: 100%;
    text-align: center;
  }
}

.register__content__heading {
  font-weight: 500;
  font-size: 4.2rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 1210px) {
  .register__content__heading {
    width: 40rem;
  }
}

@media only screen and (max-width: 500px) {
  .register__content__heading {
    font-size: 3.2rem;
  }
}

.register__content__para {
  width: 80%;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 970px) {
  .register__content__para {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .register__content__para {
    width: 100%;
  }
}

.register__content__btn {
  display: inline-block;
  background-color: white;
  margin-top: 3rem;
  color: #6749AC;
  text-decoration: none;
  font-family: 'poppins', sans-serif;
  font-size: 1.6rem;
  border-radius: 33rem;
  letter-spacing: 1px;
  padding: .9em 3.2em;
  -webkit-box-shadow: 0 5px 5px rgba(12, 12, 12, 0.342);
          box-shadow: 0 5px 5px rgba(12, 12, 12, 0.342);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 970px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social__item {
  padding: 1.6rem;
  border: 2px solid #fff;
  border-radius: 2222px;
  display: block;
  position: relative;
  margin-right: 1.5rem;
}

.footer__social__item--last {
  margin-right: 0;
}

.footer__social__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1.8rem;
}
/*# sourceMappingURL=style.css.map */